body{
    background-color: black;
}
.header{
    width: 100%;
    height: 270px;
    background-color: transparent;
    position: relative;
    top: -800px;
    
   
}
.header-h{
    width: 20%;
    background-color: transparent;
    position: relative;
    right: 220px;
    text-align: center;
    margin-top: 100px;

  
  

}

.header-h button{
    position: relative;
    top: 30px;
    left: 140px;
    width: 180px;
    padding: 20px;
    background-color: #00132b;
    color: white;
    font-size: 25px;
    font-family: cursive;
    margin: 5px;
    background-color: #ed1c24;
    color: white;
    box-shadow: 1px 1px 30px 1px white;
    
    
      
   
}
.header-h button:hover{
    transition: 1s;
    background-color: white;
    color: black;
}
.header-h h1{
    margin-bottom: 20px;
    font-size: 50px;
    font-family: cursive;
    color: black;
  
}
.t-titel{
    position: relative;
    left: 830px;
    bottom: 800px;
    font-size: 40px;    
}
